.col-xs-4{
    padding-left: 0px;
    padding-right: 0px;
}

.col-xs-4 a{
    margin-bottom: 0px;
}

.container-center {
    position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
}

.container-center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}